replicas: 1

ports:
  web:
    expose:
      default: true
  websecure:
    expose:
      default: true
  metrics:
    expose:
      default: false

    # Prometheus will scrape at /metrics

metrics:
  prometheus:
    enabled: true
    entryPoint: metrics
    # You can change the port if you want
