ports:
  web:
    expose:
      default: true
    nodePort: 30080
  websecure:
    expose:
      default: true
    nodePort: 30443
  metrics:
    expose:
      service:
        annotations:
          prometheus.io/scrape: "true"
          prometheus.io/path: /metrics
          prometheus.io/port: "9100"
    nodePort: 30190  # Traefik metrics on this NodePort

metrics:
  prometheus:
    enabled: true
    service:
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: /metrics
        prometheus.io/port: "9100"

service:
  type: NodePort
