apiVersion: v1
kind: Service
metadata:
  name: personal-website
  annotations:
    prometheus.io/scrape: "true"
spec:
  selector:
    app: personal-website
  ports:
    - port: 80
      targetPort: 80
  type: ClusterIP

