apiVersion: v1
kind: ConfigMap
metadata:
  name: alertmanager-config
data:
  alertmanager.yml: |
    global:
      resolve_timeout: 5m
    
    # The root route on which all conditions match
    route:
      group_by: ['alertname', 'cluster', 'service']
      group_wait: 10s
      group_interval: 10s
      repeat_interval: 12h
      receiver: 'default'
      routes:
      - match:
          severity: critical
        receiver: 'critical'
        continue: true
      - match:
          severity: warning
        receiver: 'warning'
    
    # Inhibition rules allow to mute a set of alerts given that another alert is
    # firing.
    inhibit_rules:
      - source_match:
          severity: 'critical'
        target_match:
          severity: 'warning'
        equal: ['alertname', 'cluster', 'service']
    
    receivers:
    - name: 'default'
      # webhook_configs:
      # - url: 'http://webhook.example.com:5001/'
    
    - name: 'critical'
      # webhook_configs:
      # - url: 'http://webhook.example.com:5001/critical'
      # email_configs:
      # - to: 'team-alerts@example.com'
      #   from: 'alertmanager@example.com'
      #   smarthost: 'smtp.example.com:587'
      #   auth_username: 'alertmanager@example.com'
      #   auth_password: 'password'
    
    - name: 'warning'
      # webhook_configs:
      # - url: 'http://webhook.example.com:5001/warning'

