apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

commonLabels:
  app: grafana

resources:
  - pvc.yaml
  - deployment.yaml
  - service.yaml
  - datasource.yaml
  - dashboard-provider.yaml

